<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container my-3">
    <div class="my-3 border-bottom">
        <div>
            <h4>출결번호 등록</h4>
        </div>
    </div>
    <div th:if="${numberResponse.isPresent == false}">
        <h4 class="my-3 border-bottom">출결번호 검색 실패</h4>
        <form id="failSubmit" th:action="@{/attnumber/retry}" th:object="${numberResponse}" method="post">
            <input type="hidden" name="classNum" id="classNum" class="form-control" th:value="${numberResponse.getClassNum()}">
            <input type="submit" value="새로고침" class="btn btn-primary m-2">
        </form>
        <a th:href="@{/}" class="btn btn-primary m-2">메인으로</a>
    </div>
    <div th:if="${numberResponse.isPresent == true}">
        <h4 class="my-3 border-bottom">출결번호 검색 성공</h4>
        <div class="mb-3">
            <label class="form-label">학수번호</label>
            <div th:text="${numberResponse.getClassNum()}"></div>
        </div>
        <div class="mb-3">
            <label class="form-label">출결번호</label>
            <div th:text="${numberResponse.getNumber()}"></div>
        </div>
        <a th:href="@{/}" class="btn btn-primary m-2">메인으로</a>
    </div>
</div>
</html>


