<!--
메인화면에서 출결번호 등록 버튼 클릭시 나오는 화면

학수번호 입력 창
출결번호 입력 창
등록 버튼
메인으로 버튼
-->
<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container my-3">
    <table class="table">
        <h5 class="my-3 border-bottom pb-2">출결번호 등록</h5>
        <form th:action="@{/attnumber}" th:object="${request}" method="post">
            <div class="mb-3">
                <label for="classNum" class="form-label">학수번호</label>
                <input type="text" name="classNum" id="classNum" class="form-control">
            </div>
            <div class="mb-3">
                <label for="number" class="form-label">출결번호</label>
                <input type="number" name="number" id="number" class="form-control">
            </div>
            <input type="submit" value="등록하기" class="btn btn-primary my-2">
        </form>
        <a th:href="@{/}" class="btn btn-primary mx-2">메인으로</a>
    </table>
</div>
</html>